body,
html {
  /* overflow-x: hidden; */
  background-color: limegreen;
}

body {
  font-family: 'Teko', sans-serif;
}

/* hover effect */
.hover_img a { 
  position:relative; 
}

.hover_img a span { 
  position:sticky;
  display:none;
  z-index: index 50;
}

.hover_img a:hover span { 
  display:block; 
}
/* hover effect */

a{
  font-size: 3.5em;
  line-height: 1;
  font-weight: 600;
  text-decoration:none;
  color: black;
  cursor: default;
}

h1 {
  font-size: 4em;
  font-weight: 500;
  text-align: left;
  line-height: .8;
  color:limegreen;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.1;
  color:black;
}

/* IMAGE MARQUEE -----------------------*/
.tech-slideshow {
  height: 25px;
  margin: 0 auto;
  position: static;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background-color: limegreen;
}

.tech-slideshow > div {
  height: 25px;
  width: 4000px;
  background: url(https://raw.githubusercontent.com/lneoa/SMS/d24d61ba74a9ccc21ba4c7895a8b7c2f56c46d4a/img/sms%20logo%20black%20pad-01.svg);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 20s linear infinite;
}

@keyframes moveSlideshow {
  0% { 
    transform: translateX(-66.6666%);  
  }
}
/* IMAGE MARQUEE -----------------------*/


.container {
	margin: 0px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 100vw;
  height: 100vh;
	/* avoid browser level touch actions */
	xtouch-action: none; 
}

.left {
  width: 25vw;
  padding-left: 20px;
  /* border-left: 1px solid black; */
  background-color: white;;
}

.right {
  width: 75vw;
  padding-left: 20px;
  background-color: white;
  overflow-y: scroll; 
}

.left home, 
.right home{
  overflow-y: scroll; 
  overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
  height: 100vh;
}




/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {
  html,
  body, 
  p,
  .h1 {
    font-size: 12px;
    line-height: 1.1;
  }

  .row {
    grid-template-columns: 26px auto;
  }
  
} 

/* Make it a marquee -----------------------*/
/* .marquee { */
  margin: 0 auto;
  white-space: nowrap;
  overflow: visible;
  background-color: white;
}

/* .marquee span { */
  display: inline-block;
  padding-left: 0%;
  animation: marquee 45s linear infinite;
  font-size: 2em;
  font-weight:700;
  color: limegreen;
}

/* Make it move -----------------------*/
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}